/* styles/globals.css */
html {
    scroll-behavior: smooth;
    background-color: black;
  }
  
  .section {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border-bottom: 1px solid #ccc;
    background-color: black;

  }
  