/* .section {
  position: absolute;
  height: 200vh; /* Ensures enough scroll space for testing *//*
  background-color: #000; /* Background to match video *//*
  overflow: hidden;/*
  align-items: center;
  justify-content: center;
  transform: translate(50%, -50%);
} */

.header {
  position: sticky;
  top: 20px; /* Keeps it in view while scrolling */
  font-size: 2.5rem;
  text-align: left;
  color: white;
  margin-left: 20px;
  z-index: 10;
  transition: opacity 0.2s ease-out;
}

/* .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  pointer-events: none; /* Prevent interaction *//*
  transition: opacity 1s ease-in-out; /* Smooth fade-in *//*
} */

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  object-fit: contain;
  background-color: rgba(211, 18, 18, 0.5); /* Añade un fondo temporal */
  color: white; /* Texto visible para debug */
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}


.video.visible {
  opacity: 1; /* Fully visible */
}
