.container {
    width: 100% !important;
    height: 200vh;
    position: static;
    z-index: 450;
    top: 0;
  }
  
  .image {
    width: 100% !important;
    max-width: 100% !important; 
    position: static;
    background-color: transparent;
  }
  