.init {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #110909;
    padding: 20px;
    text-align: center;
  }
  